[submodule "submodules/AirCap"]
	path = submodules/AirCap
	url = https://github.com/Mohamed-Ahmed-Taha/AirCap.git
[submodule "submodules/pytorch_ssd_server"]
	path = submodules/pytorch_ssd_server
	url = https://github.com/robot-perception-group/pytorch_ssd_server
